#container {
    width: 700px;
    height: 525px;
    overflow: hidden;
    position: relative;
}

#container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
}

#container div {
    position: absolute;
    width: 33%;
    height: 33%;
}

#topleft {
    top: 0;
    left: 0;
}

#topright {
    top: 0;
    right: 0;
}

#bottomleft {
    bottom: 0;
    left: 0;
}

#bottomright {
    bottom: 0;
    right: 0;
}

#center {
    top: 33%;
    left: 33%;
}

.start {
    transform: scale(1);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
}

.topleft {
    transform: scale(2) translate(0, 0);
}

.topright {
    transform: scale(2) translate(-50%, 0);
}

.bottomleft {
    transform: scale(2) translate(0, -50%);
}

.bottomright {
    transform: scale(2) translate(-50%, -50%);
}

.center {
    transform: scale(2) translate(-25%, -25%);
}