body {
    text-align: center;

    background-image: url(images/forest_background.jpg);
    background-repeat: no-repeat;
    background-position: center -150px


}

h1 {
    font-family: "Darumadrop One", sans-serif;
    font-size:  84px;
}


h2 {
    font-family: "Darumadrop One", sans-serif;
    font-size: 64px;
}

 p {
    font-family: "Darumadrop One", sans-serif;
    font-size: 36px;

    padding: 0;
}

/*start button*/

#start-btn {
    font-family: "Darumadrop One", sans-serif;
    text-align: center;
    font-size: 36px;
    color: aliceblue;

    padding: 10px 20px;
    background-color: rgb(42, 97, 47);
    
    border-radius: 8px;
    border-style: none;
        
}

#start-btn:hover {
    background-color: rgb(13, 61, 18);
}

/*starting image styling*/

#startscreen, #gamescreen {
    height: 100vh;
    overflow: hidden;
    position: relative;
}


#racoon-position {
    position: relative;
    height: 500px;
    bottom: -30px;
    left: -150px;

    animation: float-up-down 2s ease-in-out infinite;
}

#possum-position {
    position: relative;
    height: 500px;
    bottom: -30px;
    right: -50px; 

    animation: float-up-down 2s ease-in-out infinite;
}


/*styling for the game screen*/


#racoon-boxer{
    position: relative;
    height: 500px;
    bottom: -60px;
    left: -300px;

    animation: float-up-down 2s ease-in-out infinite;
}

#possum-boxer {
    position: relative;
    height: 500px;
    top: -430px;
    right: -300px; 

    animation: float-up-down 2s ease-in-out infinite;
}

#text-box {
    position: absolute;
    z-index: 10;
    font-family: "Darumadrop One", sans-serif;

    background-color: aliceblue;

    padding: 10px 20px 10px 20px;
}

/*animations styling*/

/*animation for racoon + possum*/
@keyframes float-up-down {
    0% {
    transform: translateY(0); 
  }
    50% {
    transform: translateY(-15px); 
  }
    100% {
    transform: translateY(0);
  }
}
