body { 
  margin: 0; 
  padding: 0; 
  min-height: 100vh;  
  display: flex; 
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Cascadia Mono", sans-serif;
  margin: 5px 0;
}

button {
  font-family: "Cascadia Mono", sans-serif;
  padding: 10px 20px;
  background-color: rgb(220, 55, 88);
  color: aliceblue;
  border-radius: 8px;
  font-size: 14px;
  border: none;

  position: relative;
  transition: transform 0.2s ease;
}

button:hover{
  background-color: rgb(184, 28, 57);
  transform: scale(1.05);
  
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px 0;
}

/*photo styling*/

/*jar image styling */
#jarArea {
  position: relative;
  width: min(70vw, 70vh); 
  height: min(70vw, 70vh);
  
  max-width: 700px;
  max-height: 700px;
  margin-top: 10px;
}

#jar {
  position: absolute;
  width: 75%;
  top: 70%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  animation: wobble 1s infinite ease-in-out alternate;
}
/*jar animation*/
@keyframes wobble {
  from { transform: translate(-50%, -50%) rotate(-10deg); } 
  to { transform: translate(-50%, -50%) rotate(10deg); } 
}

/*collection photos*/
#collection img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;

  animation: fadeIn 0.6s ease-in forwards;
}
/*collection items ease in*/
@keyframes fadeIn { 
  from {opacity: 0;}
  to {opacity: 1;}
}